* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/full-bloom.png");
    background-repeat: repeat;
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
}

/* Link Styles */
a {
    color: #777;
}

a:hover {
    color: #3aaaa5;
}

/* Unordered List Styles */
ul {
    list-style-type: none;
    float: right;
    margin-top: 30px;
}

li {
    display: inline;
    margin: 15px;
}

header {
    background-color: #fff;
    width: 100%;
    height: 80px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navContainer {
    margin: 0px auto;
    width: 960px;
}

.logo {
    float: left;
    background-color: #4aaaa5;
    margin: 0 auto;
    margin-top: 0;
    color: white;
    width: 250px;
    padding: 0 40;
    line-height: 80px;
    text-align: center;
}

nav {
    float: right;
    background-color: white;
    margin: auto 0;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
}

.contentContainer {
    background-color: white;
    height: 380px;
    color: #777;
    width: 960px;
    margin: 30px auto;
    padding: 30px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
}

.formContainer {
    background-color: white;
    height: 450px;
    color: #777;
    width: 960px;
    margin: 30px auto;
    padding: 30px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
}

form {
    text-align: left;
    font-size: 18px;
}

#formButton {
    font-size: 18px;
}

#formId {
    color: #4aaaa5;
}

.about {
    color: #4aaaa5;
}

#bioPhoto {
    float: left;
    margin: 10px 30px 0 0;
}

#bioText {
    overflow: visible;
    margin-top: 40px;
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 8px;
    text-align: center;
    color: white;
    font-size: 10px;
    margin-top: 10px;
}

#footerText {
    padding: 10px;
}

/* Media Queries */
/* FOR ABOUT PAGE */
@media screen and (max-width: 768px) {
    .navContainer {
        margin: 0px auto;
        width: 740px;
    }

    .contentContainer {
        width: 740px;
    }

    .formContainer {
        width: 740px;
    }

    #bioPhoto {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    .navContainer {
        margin: 0px auto;
        width: 600px;
    }

    .contentContainer {
        width: 600px;
        height: 460px;
        margin-top: 100px;
    }

    .formContainer {
        width: 600px;
        height: 460px;
        margin-top: 100px;
    }

/* HELP?????? */

    input [type=text], select, textarea {
        width: 20px;
    }

    #bioPhoto {
        margin-bottom: 10px;
    }

    .logo {
        float: left;
        width: 100%;
        height: 80px;
        padding: 1px;
        text-align: center;
    }

    nav {
        background-color: white;
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ccc;

    }
}